@model List<_2001216310_NguyenThanhVi.Models.Cart>
@{
    ViewBag.Title = "ThanhToan";
    Layout = "~/Areas/Customer/Views/Shared/LayoutPageNoneSection.cshtml";
}

<h2>Thanh Toán</h2>

<table class="table table-border">
    <tr>
        <th>STT</th>
        <th colspan="2">Sản phẩm</th>
        <th>Số lượng</th>
        <th>Đơn giá</th>
    </tr>
    @{ 
        int i = 1;
        double TongTien = 0;
        _2001216310_NguyenThanhVi.Models.MyDB db = new _2001216310_NguyenThanhVi.Models.MyDB();
        _2001216310_NguyenThanhVi.Models.Product pro = new _2001216310_NguyenThanhVi.Models.Product();
        foreach(var item in Model)
        {
            pro = db.Products.Where(e => e.Id == item.ProId).FirstOrDefault();
                <tr>
                    <td>@i</td>
                    <td><img src="~/Img/@pro.Img" style="width:50px;height:50px;"></td>
                    <td>@pro.Name</td>
                    <td>@item.Quantity</td>
                    <td>@pro.Price</td>
                </tr>
            TongTien += (item.Quantity * pro.Price);
            i++;
        }
     }
    <tr>
        <td colspan="4">Tổng tiền</td>
        <td>@TongTien</td>
    </tr>
</table>

<a class="btn btn-danger" aria-current="page" href="/Customer/Cart/Index">Quay lại giỏ hàng</a>
<a class="btn btn-primary" aria-current="page" href="#">Thanh toán</a>

