@model _2001216310_NguyenThanhVi.Models.Product
@{
    ViewBag.Title = "Fix";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutNoneSection.cshtml";
}
<div style="width:1400px; margin-left:100px; margin-top:40px;">
    <h2>Sửa sản phẩm</h2>
    @using (Html.BeginForm("Fix", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <table class="table">
            <tr>
                <td>
                    @Html.LabelFor(e => e.Name, "Tên sản phẩm")
                    @Html.TextBoxFor(e => e.Name, new { @class = "form-control", @value = Model.Name })
                    @Html.ValidationMessageFor(e => e.Name)
                </td>
                <td>
                    @Html.LabelFor(e => e.Price, "Giá sản phẩm")
                    @Html.TextBoxFor(e => e.Price, new { @class = "form-control", @value = Model.Price })
                    @Html.ValidationMessageFor(e => e.Price)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(e => e.Storages.Amount, "Số lượng sản phẩm")
                    @Html.TextBoxFor(e => e.Storages.Amount, new { @class = "form-control" })
                    @Html.ValidationMessageFor(e => e.Storages.Amount, "", new { @class = "text-danger" })
                </td>

            </tr>
            <tr>
                <td>
                    @Html.LabelFor(e => e.Description, "Mô tả sản phẩm")
                    @Html.TextBoxFor(e => e.Description, new { @class = "form-control", @value = Model.Description })
                    @Html.ValidationMessageFor(e => e.Description)
                </td>
                <td>
                    @Html.LabelFor(e => e.Type, "Loại sản phẩm")
                    @Html.DropDownListFor(e => e.Type, new List<SelectListItem>()
                    {
                        new SelectListItem(){Text="Lon",Value="Lon"},
                        new SelectListItem(){Text="Thùng",Value="Thùng"},
                        new SelectListItem(){Text="Lốc",Value="Lốc"}
                    }, "Chọn loại sản phẩm", new { @class = "form-control" })
                    @Html.ValidationMessageFor(e => e.Type)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(e => e.Status, "Trạng thái sản phẩm")
                    @Html.DropDownListFor(e => e.Status, new List<SelectListItem>()
                    {
                        new SelectListItem(){Text="Còn hàng",Value="Còn hàng"},
                        new SelectListItem(){Text="Hết hàng",Value="Hết hàng"}
                    }, "Chọn trạng thái sản phẩm", new { @class = "form-control" })
                    @Html.ValidationMessageFor(e => e.Status)
                </td>
                <td>
                    @Html.LabelFor(e => e.BrandId, "Hãng sản phẩm")
                    @Html.DropDownListFor(e => e.BrandId, new SelectList(ViewBag.brand, "Id", "Name"), "Chọn hãng sản phẩm", new { @class = "form-control" })
                    @Html.ValidationMessageFor(e => e.BrandId)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(e => e.Img, "Ảnh sản phẩm")
                    <input type="file" name="imageFile" id="imageFile" class="form-control" />
                    @Html.ValidationMessageFor(e => e.Img, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.LabelFor(e => e.Storages.StoreId, "Tồn kho tại cửa hàng")
                    @Html.DropDownListFor(e => e.Storages.StoreId, new SelectList(ViewBag.store, "Id", "Name"), "Chọn cửa hàng", new { @class = "form-control" })
                    @Html.ValidationMessageFor(e => e.Storages.StoreId)
                </td>
            </tr>
        </table>
        <a href="/Admin/Product/MainOfProduct" class="btn btn-danger">Hủy</a>
        <button type="submit" class="btn btn-primary">Xác nhận</button>
    }

</div>
